h1 {

    color: white;
}

.main-page {
    position: fixed;
    padding-top: 64px;
}

h2 {
    color: red;
    font-size: 7rem;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 3rem;
        margin-top: 5%;
        margin-left: 10%;
    }
}


.login-button {

    margin-left: 25%;

    width: 10rem;
}

@media only screen and (max-width: 600px) {
    .login-button {
        position: absolute;
        margin-top: 80%;
        margin-left: 11%;
    }
}

.signup-button {
    margin-left: 25%;
    width: 10rem;
    margin-right: 5px;

}

@media only screen and (max-width: 600px) {
    .signup-button {
        position: absolute;
        margin-top: 40%;
        margin-left: 11%;
    }
}

.logout-button {
    position: fixed;
    margin-top: 20%;
    margin-left: 45%;
}



@media (min-width: 600px) {
    .FabiFlix {
        position: fixed;
        margin-top: 5%;
        margin-left: 40%;
        font-size: 5rem;
        color: red;
    }
}