h1 {

    color: white;
}

.main-page{
    position: fixed;
    padding-top: 64px;
}

h2{

    color: red;
    font-size: 7rem;
    position: fixed;
    margin-top: 10%;
    margin-left: 35%;
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 3rem;
        margin-top: 20%;
        margin-left: 10%; 
    }
  }